.header-container {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  /* border-radius: 25px; */
  box-shadow:inset 0 0 6px rgba(255, 255, 255, 0.2);
}

.dark .header-container {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  /* border-radius: 25px; */
  box-shadow:inset 0 0 6px rgba(49, 49, 49, 0.2);
}
