/* do some I don't know how to write style with `unocss` */

.dark{
  background: #222;
  color: #fff;
  color-scheme: dark;
}


html{
  font-family: "Inter",ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.project-container:hover .icon {
  rotate: 360deg;
  opacity: 100%;
}

/* 滚动槽 */
::-webkit-scrollbar {
  background-color: transparent;
  height: 12px;
  width: 12px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    opacity: 1;
    background-color: rgb(176, 176, 176);
    border-radius: 9999px;
}
.dark *::-webkit-scrollbar-thumb{
   background-color: rgb(104, 104, 104);
}


/* posts */
.over-desc{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}
